.banner
    position absolute
    left 0
    right 0
    bottom 0
    height 50px
    background #ffcc00
    border 1px solid #f0b500

    .button
        position: relative;
        float: right;
        top: 10px;
        margin-right: 2.5%;
