ctx = '.player__files-list'
{ctx}
    position relative
    float right
    min-width 200px
    padding 5px
    padding-top 10px

    .spin
        &_visible
            position absolute
            left: 50%;
            margin-left: -14px;

    &_loading
        {ctx}-content
            opacity .5

    &-inner
        width 100%

    &-header
        padding 5px
        font-weight: bold;
        background-color: #c8c8c8;

    &-content
        max-height 60vh
        overflow-y auto
