.player_state_empty
    min-height 0 !important

    .player__visualization
        display none

    .player__files-list-content
        padding 3px
        text-align center

    .player__files-list_loading
        .player__files-list-content
            display none
