.player__file
    position relative
    display block
    padding: 3px;
    height 20px
    line-height 20px
    text-align left
    cursor: pointer;

    &_active
        background-color: #5787c2;

    &:hover
        background-color: #66b6ff;

    &-name
        position relative
        display inline-block
        float left
        width 80%
        height 100%
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

    &-duration
        position: relative;
        display: inline-block;
        float right
        right: 2px;
        width 20%
        height 100%
        text-align: right;
