content__inner_margin-top := 30px
content__inner_margin-top += header_height is defined ? header_height : 0
.content
    position relative
    width 95%
    margin 0 auto
    box-sizing border-box
    &__inner
        position relative
        width auto
        height auto
        padding 2.5%
        margin-top content__inner_margin-top
        background #fbfbfb
        border-radius 3px
        border 1px solid #cbcbcb
        box-sizing border-box
