.button_file
	padding     0!important
	text-shadow none
	&.button_theme_islands
	&.button_size_m .button__text
		margin    0!important
		padding   0 13px
	input
		position  absolute
		opacity   0
		left:     -10000px